*{
    font-family: Poppins, sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body {
      font-family: Poppins, sans-serif;
      background-color: #f8f8f8;
    }
  
    header {
      z-index: 1000;
      height: 90px;
      background-color: rgb(131, 199, 241);
      box-shadow: 0 0 2px 2px rgba(79, 173, 187, 0.5);
      color: rgb(65, 64, 64);
      padding: 8px;
      text-align: center;
      position: sticky;
      top: 0%;
    }
  
    header h1{
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      padding-top: 15px;
    }
    nav {
        height: 100vh; 
        background-color: rgb(233, 235, 236);
        box-shadow: 0 0 2px 2px rgba(79, 173, 187, 0.5);
        color: rgb(65, 64, 64);
        padding: 8px;
        text-align: center;
        position: fixed;
        left: 0;
        top: 0;
        width: 200px; 
        overflow-y: auto; 
    }
  
    nav ul {
      margin-top: 5rem;
      list-style-type: none;
      font-weight: bold;
      padding: 8px;
    }
  
    nav ul li {
      border-bottom: 1px solid #ccc; ;
      margin-right: 1rem;
      margin-bottom: 0.8rem;
      width: 100%;
    }
  
    nav ul li :hover{
      color:#837d7d;
      border-radius: 8%;
    }
  
    nav ul li a {
      font-size: 15px;
      color: rgb(83, 82, 82);
      text-decoration: none;
      /* background-color: rgba(23, 162, 184, 0.2); */
    }
  
    main {
      max-width: 800px;
      margin: 0 auto;
      padding: 2rem;
    }
  
    section {
      /* max-width: 800px; */
      background-color: rgba(23, 162, 184, 0.2);
      padding: 1.5rem;
      margin: 1.5rem auto;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
      overflow-y: auto; 
      max-width: 550px;
      /* box-shadow: 1px 5px 2px #0456c8 */
    }
    section p{
      margin: 1.3rem;
    }
  
    h2 {
      margin-top: 0;
    }
  
    form {
      margin-bottom: 1rem;
    }
  
  
    input[type="text"],
    input[type="password"],
    textarea {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
  
   #questions ul,
   #appointments ul {
    padding: 20px; 
   }
  
   #questions ul li,
   #appointments ul li {
    margin: 20px;
  }
  
    button {
      padding: 0.5rem 1rem;
      background-color: rgb(0, 157, 255);
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
    button:hover{
      background-color: transparent;
      color:rgb(0, 157, 255);
      border: 0.5px solid rgb(0, 157, 255);
    }